In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python39\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install psycopg2-binary sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\admin\appdata\roaming\python\python39\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\roaming\python\python39\site-packages (1.4.54)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\appdata\roaming\python\python39\site-packages (from sqlalchemy) (3.2.3)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\admin\appdata\roaming\python\python39\site-packages (2.0.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install pyspark faker

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\admin\appdata\roaming\python\python39\site-packages (4.0.1)
Requirement already satisfied: faker in c:\users\admin\appdata\roaming\python\python39\site-packages (37.12.0)
Requirement already satisfied: py4j==0.10.9.9 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.9)
Requirement already satisfied: tzdata in c:\users\admin\appdata\roaming\python\python39\site-packages (from faker) (2025.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# import random
# import uuid
# import pandas as pd
# import numpy as np
# from faker import Faker

# # ----------------------------
# # Setup
# # ----------------------------
# fake = Faker()
# np.random.seed(42)
# random.seed(42)

# N_ROWS = 200_000

# today = pd.Timestamp.today().normalize()
# current_year = today.year
# jan_first = pd.Timestamp(current_year, 1, 1)

# # ----------------------------
# # Reference Data
# # ----------------------------
# countries = {
#     "Nigeria": "Africa",
#     "Kenya": "Africa",
#     "South Africa": "Africa",
#     "UK": "Europe",
#     "Germany": "Europe",
#     "France": "Europe",
#     "USA": "North America",
#     "Canada": "North America"
# }

# plans = [
#     {"plan_id": str(uuid.uuid4()), "plan_name": "Basic Voice", "plan_type": "voice", "price": 10, "data_gb": 0, "minutes": 300},
#     {"plan_id": str(uuid.uuid4()), "plan_name": "Premium Voice", "plan_type": "voice", "price": 25, "data_gb": 0, "minutes": 1000},
#     {"plan_id": str(uuid.uuid4()), "plan_name": "Basic Data", "plan_type": "data", "price": 15, "data_gb": 5, "minutes": 0},
#     {"plan_id": str(uuid.uuid4()), "plan_name": "Unlimited Data", "plan_type": "data", "price": 40, "data_gb": 50, "minutes": 0},
# ]

# network_types = ["3G", "4G", "5G"]

# # ----------------------------
# # Generate Data
# # ----------------------------
# rows = []

# for _ in range(N_ROWS):
#     country = random.choice(list(countries.keys()))
#     plan = random.choice(plans)

#     customer_id = str(uuid.uuid4())
#     subscription_id = str(uuid.uuid4())

#     # Signup date (pandas Timestamp)
#     signup_date = pd.Timestamp(
#         fake.date_between(start_date=jan_first, end_date=today)
#     )

#     # Subscription duration
#     sub_duration = random.choices(
#         [30, 90, 180, 365],
#         weights=[0.35, 0.30, 0.20, 0.15]
#     )[0]

#     sub_start = signup_date
#     sub_end = min(
#         sub_start + pd.Timedelta(days=sub_duration),
#         today + pd.Timedelta(days=365)
#     )

#     status = "active" if sub_end >= today else "inactive"

#     # Usage date
#     usage_date = pd.Timestamp(
#         fake.date_between(start_date=sub_start, end_date=min(sub_end, today))
#     )

#     # Usage values
#     data_used = (
#         round(random.uniform(0, plan["data_gb"] * 1024), 2)
#         if plan["plan_type"] == "data"
#         else 0
#     )

#     voice_used = (
#         random.randint(0, plan["minutes"])
#         if plan["plan_type"] == "voice"
#         else 0
#     )

#     rows.append({
#         "customer_id": customer_id,
#         "first_name": fake.first_name(),
#         "last_name": fake.last_name(),
#         "country": country,
#         "signup_date": signup_date,
#         "status": status,
#         "subscription_id": subscription_id,
#         "subscription_start_date": sub_start,
#         "subscription_end_date": sub_end,
#         "plan_id": plan["plan_id"],
#         "plan_name": plan["plan_name"],
#         "plan_type": plan["plan_type"],
#         "plan_monthly_price": plan["price"],
#         "plan_data_limit_gb": plan["data_gb"],
#         "plan_voice_minutes": plan["minutes"],
#         "usage_date": usage_date,
#         "data_used_mb": data_used,
#         "voice_minutes_used": voice_used,
#         "sms_sent": random.randint(0, 50),
#         "network_type": random.choice(network_types)
#     })

# df = pd.DataFrame(rows)

# # ----------------------------
# # Inject Data Quality Issues
# # ----------------------------

# # Nulls
# for col in ["first_name", "plan_name", "data_used_mb", "voice_minutes_used"]:
#     df.loc[df.sample(frac=0.06, random_state=42).index, col] = None

# # Wrong data types
# df.loc[df.sample(frac=0.02, random_state=1).index, "plan_monthly_price"] = "unknown"
# df.loc[df.sample(frac=0.02, random_state=2).index, "sms_sent"] = "N/A"

# # Duplicates
# duplicates = df.sample(frac=0.03, random_state=3)
# df = pd.concat([df, duplicates], ignore_index=True)

# # Invalid values
# df.loc[df.sample(frac=0.01, random_state=4).index, "data_used_mb"] = -100
# df.loc[df.sample(frac=0.01, random_state=5).index, "voice_minutes_used"] = 99999

# # ----------------------------
# # Save Output
# # ----------------------------
# df.to_csv("telcosphere_data.csv", index=False)
# print("Final dataset shape:", df.shape)

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("TelcoSphereData")\
         .config("spark.jars.packages", "org.postgresql:postgresql:42.6.0")\
         .getOrCreate()

In [8]:
from pyspark.sql.functions import col, when, monotonically_increasing_id

In [ ]:
tele_df = spark.read.csv(r'C:\Users\Admin\Desktop\10Alytics\TelcoSphere_Project_With_Databricks\raw\telcosphere_data.csv', header=True, inferSchema=True)

In [10]:
df = tele_df

In [11]:
df.show(5)

+--------------------+----------+---------+-------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+-------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
|         customer_id|first_name|last_name|country|signup_date|  status|     subscription_id|subscription_start_date|subscription_end_date|             plan_id|    plan_name|plan_type|plan_monthly_price|plan_data_limit_gb|plan_voice_minutes|usage_date|data_used_mb|voice_minutes_used|sms_sent|network_type|
+--------------------+----------+---------+-------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+-------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
|7c1c704c-503d-4f9...|      Leah|      Fry|  Kenya| 2025-07-30|  active|1e1592cf-aeab-41f...|             2025-07-30|           2026-01-26|1d632b87-78e7-4f9...|  Basic Voice|    voice|                10|                 0|               300|2025-09-21|         0.0|             125.0|     N/A|          3G|
|33addcc8-32b5-4c7...|     Scott|     Odom|  Kenya| 2025-10-20|  active|3a33a2fb-9194-45f...|             2025-10-20|           2026-01-18|1d632b87-78e7-4f9...|  Basic Voice|    voice|                10|                 0|               300|2025-11-06|         0.0|              16.0|       1|          3G|
|ced03339-73c4-4ab...|     David|     Dunn|     UK| 2025-04-07|inactive|70c4c51b-dd05-428...|             2025-04-07|           2025-07-06|fcc1524b-2865-49b...|Premium Voice|    voice|                25|                 0|              1000|2025-07-05|         0.0|              27.0|      35|          3G|
|1184385d-e27e-4cd...|     David|     Sims|    USA| 2025-02-28|inactive|53c93856-e795-423...|             2025-02-28|           2025-05-29|fcc1524b-2865-49b...|Premium Voice|    voice|                25|                 0|              1000|2025-03-21|         0.0|             284.0|       0|          3G|
|9e162333-20bd-4ee...|      NULL| Martinez|    USA| 2025-07-21|inactive|c7bf197f-2055-412...|             2025-07-21|           2025-08-20|af8d9c3c-6ee5-4df...|         NULL|     data|                15|                 5|                 0|2025-08-11|        NULL|              NULL|      48|          4G|
+--------------------+----------+---------+-------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+-------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
only showing top 5 rows

In [12]:
len(df.columns)

20

In [13]:
df.count()

206000

In [14]:
for column in df.columns:
    print(column, 'Nulls:', df.filter(df[column].isNull()).count())

customer_id Nulls: 0
first_name Nulls: 12400
last_name Nulls: 0
country Nulls: 0
signup_date Nulls: 0
status Nulls: 0
subscription_id Nulls: 0
subscription_start_date Nulls: 0
subscription_end_date Nulls: 0
plan_id Nulls: 0
plan_name Nulls: 12400
plan_type Nulls: 0
plan_monthly_price Nulls: 0
plan_data_limit_gb Nulls: 0
plan_voice_minutes Nulls: 0
usage_date Nulls: 0
data_used_mb Nulls: 12279
voice_minutes_used Nulls: 12284
sms_sent Nulls: 0
network_type Nulls: 0

In [15]:

df = df.replace(
    ["N/A", "unknown", "Unknown", "UNKNOWN"],
    None
)

In [16]:
df.show(5)

+--------------------+----------+---------+-------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+-------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
|         customer_id|first_name|last_name|country|signup_date|  status|     subscription_id|subscription_start_date|subscription_end_date|             plan_id|    plan_name|plan_type|plan_monthly_price|plan_data_limit_gb|plan_voice_minutes|usage_date|data_used_mb|voice_minutes_used|sms_sent|network_type|
+--------------------+----------+---------+-------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+-------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
|7c1c704c-503d-4f9...|      Leah|      Fry|  Kenya| 2025-07-30|  active|1e1592cf-aeab-41f...|             2025-07-30|           2026-01-26|1d632b87-78e7-4f9...|  Basic Voice|    voice|                10|                 0|               300|2025-09-21|         0.0|             125.0|    NULL|          3G|
|33addcc8-32b5-4c7...|     Scott|     Odom|  Kenya| 2025-10-20|  active|3a33a2fb-9194-45f...|             2025-10-20|           2026-01-18|1d632b87-78e7-4f9...|  Basic Voice|    voice|                10|                 0|               300|2025-11-06|         0.0|              16.0|       1|          3G|
|ced03339-73c4-4ab...|     David|     Dunn|     UK| 2025-04-07|inactive|70c4c51b-dd05-428...|             2025-04-07|           2025-07-06|fcc1524b-2865-49b...|Premium Voice|    voice|                25|                 0|              1000|2025-07-05|         0.0|              27.0|      35|          3G|
|1184385d-e27e-4cd...|     David|     Sims|    USA| 2025-02-28|inactive|53c93856-e795-423...|             2025-02-28|           2025-05-29|fcc1524b-2865-49b...|Premium Voice|    voice|                25|                 0|              1000|2025-03-21|         0.0|             284.0|       0|          3G|
|9e162333-20bd-4ee...|      NULL| Martinez|    USA| 2025-07-21|inactive|c7bf197f-2055-412...|             2025-07-21|           2025-08-20|af8d9c3c-6ee5-4df...|         NULL|     data|                15|                 5|                 0|2025-08-11|        NULL|              NULL|      48|          4G|
+--------------------+----------+---------+-------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+-------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
only showing top 5 rows

In [17]:
df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- signup_date: date (nullable = true)
 |-- status: string (nullable = true)
 |-- subscription_id: string (nullable = true)
 |-- subscription_start_date: date (nullable = true)
 |-- subscription_end_date: date (nullable = true)
 |-- plan_id: string (nullable = true)
 |-- plan_name: string (nullable = true)
 |-- plan_type: string (nullable = true)
 |-- plan_monthly_price: string (nullable = true)
 |-- plan_data_limit_gb: integer (nullable = true)
 |-- plan_voice_minutes: integer (nullable = true)
 |-- usage_date: date (nullable = true)
 |-- data_used_mb: double (nullable = true)
 |-- voice_minutes_used: double (nullable = true)
 |-- sms_sent: string (nullable = true)
 |-- network_type: string (nullable = true)

In [18]:
df = df.withColumn("sms_sent", col("sms_sent").cast("int")) 
df = df.withColumn("plan_monthly_price", col("plan_monthly_price").cast("float"))

In [19]:
df.withColumn("region",
    when(col("country").isin("Nigeria", "Kenya", "South Africa"), "Africa")
    .when(col("country").isin("UK", "Germany", "France"), "Europe")
    .when(col("country").isin("USA", "Canada"), "North America")
    .otherwise("Other")
)

DataFrame[customer_id: string, first_name: string, last_name: string, country: string, signup_date: date, status: string, subscription_id: string, subscription_start_date: date, subscription_end_date: date, plan_id: string, plan_name: string, plan_type: string, plan_monthly_price: float, plan_data_limit_gb: int, plan_voice_minutes: int, usage_date: date, data_used_mb: double, voice_minutes_used: double, sms_sent: int, network_type: string, region: string]

In [20]:
for column in df.columns:
    print(column, 'Nulls:', df.filter(df[column].isNull()).count())

customer_id Nulls: 0
first_name Nulls: 12400
last_name Nulls: 0
country Nulls: 0
signup_date Nulls: 0
status Nulls: 0
subscription_id Nulls: 0
subscription_start_date Nulls: 0
subscription_end_date Nulls: 0
plan_id Nulls: 0
plan_name Nulls: 12400
plan_type Nulls: 0
plan_monthly_price Nulls: 4127
plan_data_limit_gb Nulls: 0
plan_voice_minutes Nulls: 0
usage_date Nulls: 0
data_used_mb Nulls: 12279
voice_minutes_used Nulls: 12284
sms_sent Nulls: 4121
network_type Nulls: 0

In [21]:
df = df.fillna({
                "plan_name": 'Unknown',
                "plan_monthly_price": 0,
                "data_used_mb": 0,
                "voice_minutes_used": 0.0,
                "sms_sent": 0


})

In [22]:
df = df.na.drop(subset = ["first_name"])

In [23]:
for col in df.columns:
    print(col, 'Nulls:', df.filter(df[col].isNull()).count())

customer_id Nulls: 0
first_name Nulls: 0
last_name Nulls: 0
country Nulls: 0
signup_date Nulls: 0
status Nulls: 0
subscription_id Nulls: 0
subscription_start_date Nulls: 0
subscription_end_date Nulls: 0
plan_id Nulls: 0
plan_name Nulls: 0
plan_type Nulls: 0
plan_monthly_price Nulls: 0
plan_data_limit_gb Nulls: 0
plan_voice_minutes Nulls: 0
usage_date Nulls: 0
data_used_mb Nulls: 0
voice_minutes_used Nulls: 0
sms_sent Nulls: 0
network_type Nulls: 0

In [24]:
df.count()

193600

In [25]:
df = df.dropDuplicates(subset= ["customer_id"])

In [26]:
df.count()

188000

In [27]:
df.show(5)

+--------------------+----------+---------+------------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+--------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
|         customer_id|first_name|last_name|     country|signup_date|  status|     subscription_id|subscription_start_date|subscription_end_date|             plan_id|     plan_name|plan_type|plan_monthly_price|plan_data_limit_gb|plan_voice_minutes|usage_date|data_used_mb|voice_minutes_used|sms_sent|network_type|
+--------------------+----------+---------+------------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+--------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
|0008750c-f00e-461...| Stephanie|    Young|       Kenya| 2025-01-01|inactive|671cfd45-6ebe-429...|             2025-01-01|           2025-04-01|1d632b87-78e7-4f9...|   Basic Voice|    voice|              10.0|                 0|               300|2025-01-14|         0.0|              12.0|      49|          4G|
|0008d5be-08e1-434...|  Michelle|Singleton|       Kenya| 2025-09-11|  active|f640135f-0157-425...|             2025-09-11|           2026-03-10|1d632b87-78e7-4f9...|   Basic Voice|    voice|              10.0|                 0|               300|2025-12-18|         0.0|              54.0|      30|          5G|
|00096a4a-2089-4bc...|   Brandon|  Johnson|       Kenya| 2025-10-13|inactive|b423cb9f-9fa8-43b...|             2025-10-13|           2025-11-12|1d632b87-78e7-4f9...|   Basic Voice|    voice|              10.0|                 0|               300|2025-10-16|         0.0|              61.0|      49|          4G|
|000c51a3-ab1e-424...|    Sandra|  Sanchez|      France| 2025-03-24|  active|e967432d-1f88-40f...|             2025-03-24|           2026-03-24|fcc1524b-2865-49b...| Premium Voice|    voice|              25.0|                 0|              1000|2025-09-17|         0.0|             390.0|       1|          3G|
|000c7d63-de82-426...|    Kristy|   Cuevas|South Africa| 2025-10-03|inactive|2144326b-c40f-4ef...|             2025-10-03|           2025-11-02|3b426992-47fa-4ae...|Unlimited Data|     data|              40.0|                50|                 0|2025-10-23|    36377.52|               0.0|      31|          5G|
+--------------------+----------+---------+------------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+--------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+
only showing top 5 rows

In [28]:
#check for min and max subscription dates
df.agg({"subscription_start_date": "min", "subscription_end_date": "max"}).show()

+--------------------------+----------------------------+
|max(subscription_end_date)|min(subscription_start_date)|
+--------------------------+----------------------------+
|                2026-12-22|                  2025-01-01|
+--------------------------+----------------------------+

In [29]:
from pyspark.sql.functions import months_between, round,col
df = df.withColumn(
    "subscription_months",
    round(months_between(col("subscription_end_date"), col("subscription_start_date")))
)


df = df.withColumn(
    "revenue",
    col("plan_monthly_price") * col("subscription_months")
)

In [30]:
df =df.withColumn("customer_category",
                  when(col("revenue") < 100, "Low")
    .when((col("revenue") >= 100) & (col("revenue") < 300), "Medium")
    .otherwise("High")
)

In [31]:
#region column
df =df.withColumn("region",
                    when(col("country").isin("Nigeria", "Kenya", "South Africa"), "Africa")
        .when(col("country").isin("UK", "Germany", "France"), "Europe")
        .when(col("country").isin("USA", "Canada"), "North America")
        .otherwise("Other")
    )

In [32]:
df.show(5)

+--------------------+----------+---------+------------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+--------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+-------------------+-------+-----------------+------+
|         customer_id|first_name|last_name|     country|signup_date|  status|     subscription_id|subscription_start_date|subscription_end_date|             plan_id|     plan_name|plan_type|plan_monthly_price|plan_data_limit_gb|plan_voice_minutes|usage_date|data_used_mb|voice_minutes_used|sms_sent|network_type|subscription_months|revenue|customer_category|region|
+--------------------+----------+---------+------------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+--------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+-------------------+-------+-----------------+------+
|0008750c-f00e-461...| Stephanie|    Young|       Kenya| 2025-01-01|inactive|671cfd45-6ebe-429...|             2025-01-01|           2025-04-01|1d632b87-78e7-4f9...|   Basic Voice|    voice|              10.0|                 0|               300|2025-01-14|         0.0|              12.0|      49|          4G|                3.0|   30.0|              Low|Africa|
|0008d5be-08e1-434...|  Michelle|Singleton|       Kenya| 2025-09-11|  active|f640135f-0157-425...|             2025-09-11|           2026-03-10|1d632b87-78e7-4f9...|   Basic Voice|    voice|              10.0|                 0|               300|2025-12-18|         0.0|              54.0|      30|          5G|                6.0|   60.0|              Low|Africa|
|00096a4a-2089-4bc...|   Brandon|  Johnson|       Kenya| 2025-10-13|inactive|b423cb9f-9fa8-43b...|             2025-10-13|           2025-11-12|1d632b87-78e7-4f9...|   Basic Voice|    voice|              10.0|                 0|               300|2025-10-16|         0.0|              61.0|      49|          4G|                1.0|   10.0|              Low|Africa|
|000c51a3-ab1e-424...|    Sandra|  Sanchez|      France| 2025-03-24|  active|e967432d-1f88-40f...|             2025-03-24|           2026-03-24|fcc1524b-2865-49b...| Premium Voice|    voice|              25.0|                 0|              1000|2025-09-17|         0.0|             390.0|       1|          3G|               12.0|  300.0|             High|Europe|
|000c7d63-de82-426...|    Kristy|   Cuevas|South Africa| 2025-10-03|inactive|2144326b-c40f-4ef...|             2025-10-03|           2025-11-02|3b426992-47fa-4ae...|Unlimited Data|     data|              40.0|                50|                 0|2025-10-23|    36377.52|               0.0|      31|          5G|                1.0|   40.0|              Low|Africa|
+--------------------+----------+---------+------------+-----------+--------+--------------------+-----------------------+---------------------+--------------------+--------------+---------+------------------+------------------+------------------+----------+------------+------------------+--------+------------+-------------------+-------+-----------------+------+
only showing top 5 rows

In [33]:
customer_dim = df.select(
    "customer_id",
    "first_name",
    "last_name",
    "country",
    "region",
    "signup_date",
    "status",
    "customer_category"
)
customer_dim = customer_dim.dropDuplicates(subset= ["customer_id"])

In [34]:
subscription_dim = df.select(
    "customer_id",
    "subscription_id",
    "subscription_start_date",
    "subscription_end_date",
    "subscription_months"
).dropDuplicates(subset=["subscription_id"])
subscription_dim = subscription_dim.dropDuplicates(subset= ["subscription_id"])

In [35]:
plan_dim = df.select(
    "plan_id",
    "subscription_id",
    "plan_name",
    "plan_type",
    "plan_monthly_price",
    "plan_data_limit_gb",
    "plan_voice_minutes",
    "network_type"
).dropDuplicates(subset=["plan_id"])
plan_dim = plan_dim.dropDuplicates(subset= ["plan_id"])

In [36]:
usage_fact = df.select(
    "customer_id",
    "subscription_id",
    "plan_id",
    "usage_date",
    "data_used_mb",
    "voice_minutes_used",
    "sms_sent",
    "revenue",
  
)
usage_fact = usage_fact.withColumn("usage_id", monotonically_increasing_id())
usage_fact = usage_fact.select(
    "usage_id",
    "customer_id",
    "subscription_id",
    "plan_id",
    "usage_date",
    "data_used_mb",
    "voice_minutes_used",
    "sms_sent",
    "revenue"
)

In [37]:
from pyspark.sql.functions import col, dayofmonth, weekofyear, month, quarter, year, sequence, explode, to_date, lit
date_dim = spark.sql("""
    SELECT explode(sequence(to_date('2025-01-01'), to_date('2027-01-01'), interval 1 day)) as date
""")

# Add day, week, month, quarter, year columns
date_dim = date_dim.withColumn("day", dayofmonth(col("date"))) \
                   .withColumn("week", weekofyear(col("date"))) \
                   .withColumn("month", month(col("date"))) \
                   .withColumn("quarter", quarter(col("date"))) \
                   .withColumn("year", year(col("date")))

In [38]:
date_dim.show(5)

+----------+---+----+-----+-------+----+
|      date|day|week|month|quarter|year|
+----------+---+----+-----+-------+----+
|2025-01-01|  1|   1|    1|      1|2025|
|2025-01-02|  2|   1|    1|      1|2025|
|2025-01-03|  3|   1|    1|      1|2025|
|2025-01-04|  4|   1|    1|      1|2025|
|2025-01-05|  5|   1|    1|      1|2025|
+----------+---+----+-----+-------+----+
only showing top 5 rows

In [39]:
def get_db_connection():
    connection = psycopg2.connect(host ='localhost',
                                  password ='postgres',
                                  database = 'telcosphere',
                                  user = 'postgres')
    return connection

In [40]:
def create_table():
    conn = get_db_connection()
    cursor = conn.cursor()
    table_query = '''   CREATE SCHEMA stg;
                        CREATE SCHEMA edw;

                        CREATE TABLE stg.customer_dim(
                            customer_id varchar (50) PRIMARY KEY,
                            first_name varchar (50),
                            last_name varchar (50),
                            country varchar (50),
                            region varchar (50),
                            signup_date date,
                            status varchar (50),
                            customer_category varchar (50)
                    );

                        CREATE TABLE stg.subscription_dim(
                            customer_id varchar (50),
                            subscription_id varchar (50) PRIMARY KEY,
                            subscription_start_date date,
                            subscription_end_date date,
                            subscription_months int,
                            FOREIGN KEY (customer_id) REFERENCES stg.customer_dim(customer_id)
                            );


                        CREATE TABLE stg.plan_dim(
                            plan_id varchar (50) PRIMARY KEY,
                            subscription_id varchar (50),
                            plan_name varchar (50),
                            plan_type varchar (50),
                            plan_monthly_price FLOAT,
                            plan_data_limit_gb int,
                            plan_voice_minutes int,
                            network_type varchar (50),
                            FOREIGN KEY (subscription_id) REFERENCES stg.subscription_dim(subscription_id)
                        );  


                        CREATE TABLE stg.usage_fact(
                            usage_id varchar(50) PRIMARY KEY,
                            customer_id varchar(50),
                            subscription_id varchar(50),
                            plan_id varchar(50),
                            usage_date date,
                            data_used_mb FLOAT,
                            voice_minutes_used FLOAT,
                            sms_sent int,
                            revenue FLOAT,
                            FOREIGN KEY (customer_id) REFERENCES stg.customer_dim(customer_id),
                            FOREIGN KEY (subscription_id) REFERENCES stg.subscription_dim(subscription_id),
                            FOREIGN KEY (plan_id) REFERENCES stg.plan_dim(plan_id) 
                        );



                          CREATE TABLE edw.date_dim(
                            date date PRIMARY KEY,
                            day INT,
                            week INT,
                            month INT,
                            quarter INT,
                            year INT

                        );



                        CREATE TABLE edw.customer_dim(
                            customer_id varchar (50) PRIMARY KEY,
                            first_name varchar (50),
                            last_name varchar (50),
                            country varchar (50),
                            region varchar (50),
                            signup_date date,
                            status varchar (50),
                            customer_category varchar (50),
                            FOREIGN KEY (signup_date) REFERENCES edw.date_dim(date)

                        );

                        CREATE TABLE edw.subscription_dim(
                            customer_id varchar (50),
                            subscription_id varchar (50) PRIMARY KEY,
                            subscription_start_date date,
                            subscription_end_date date,
                            subscription_months int,
                            FOREIGN KEY (customer_id) REFERENCES edw.customer_dim(customer_id),
                            FOREIGN KEY (subscription_start_date) REFERENCES edw.date_dim(date),
                            FOREIGN KEY (subscription_end_date) REFERENCES edw.date_dim(date)
                        );


                        CREATE TABLE edw.plan_dim(
                            plan_id varchar (50) PRIMARY KEY,
                            subscription_id varchar (50),
                            plan_name varchar (50),
                            plan_type varchar (50),
                            plan_monthly_price FLOAT,
                            plan_data_limit_gb int,
                            plan_voice_minutes int,
                            network_type varchar (50),
                            FOREIGN KEY (subscription_id) REFERENCES edw.subscription_dim(subscription_id)
                        );  


                        CREATE TABLE edw.usage_fact(
                            usage_id varchar(50) PRIMARY KEY,
                            customer_id varchar(50),
                            subscription_id varchar(50),
                            plan_id varchar(50),
                            usage_date date,
                            data_used_mb FLOAT,
                            voice_minutes_used FLOAT,
                            sms_sent int,
                            revenue FLOAT,
                            FOREIGN KEY (customer_id) REFERENCES edw.customer_dim(customer_id),
                            FOREIGN KEY (subscription_id) REFERENCES edw.subscription_dim(subscription_id),
                            FOREIGN KEY (plan_id) REFERENCES edw.plan_dim(plan_id),
                            FOREIGN KEY (usage_date) REFERENCES edw.date_dim(date)
                        );

'''
    
    cursor.execute(table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [41]:
create_table()

In [42]:

# params = {'host': 'localhost',
#         'user': 'postgres',
#         'password':'postgres',
#         'database': 'telcosphere',
#         'port' : '5432'
#         }

# db_url= f"postgresql://{params['user']}:{params['password']}@{params['host']}:{params['port']}/{params['database']}"
# engine= create_engine(db_url)

# with engine.connect() as connection:
#     customer_dim.to_sql('customer_dim', connection, schema='stg', if_exists='replace', index=False)
#     subscription_dim.to_sql('subscription_dim', connection, schema='stg', if_exists='replace', index=False)
#     plan_dim.to_sql('plan_dim', connection, schema='stg', if_exists='replace', index=False)
#     usage_fact.to_sql('usage_fact', connection, schema='stg', if_exists='replace', index=False)
#     customer_dim.to_sql('customer_dim', connection, schema='edw', if_exists='replace', index=False)
#     subscription_dim.to_sql('subscription_dim', connection, schema='edw', if_exists='replace', index=False)
#     plan_dim.to_sql('plan_dim', connection, schema='edw', if_exists='replace', index=False)
#     usage_fact.to_sql('usage_fact', connection, schema='edw', if_exists='replace', index=False)
#     date_dim.to_sql('date_dim', connection, schema='edw', if_exists='replace', index=False)

#     print('Data loaded successfully')

In [43]:
##loading into db
url = "jdbc:postgresql://localhost:5432/telcosphere"
user = "postgres"
password = "postgres"

def load_to_postgres(df, table_name):
    df.write.format("jdbc")\
    .option("url", url)\
    .option("dbtable", table_name)\
    .option("user", user)\
    .option("password", password)\
    .option("driver", "org.postgresql.Driver")\
    .mode("append")\
    .save()

In [44]:
load_to_postgres(customer_dim, "stg.customer_dim")
load_to_postgres(subscription_dim, "stg.subscription_dim")
load_to_postgres(plan_dim, "stg.plan_dim")
load_to_postgres(usage_fact, "stg.usage_fact")
load_to_postgres(date_dim, "edw.date_dim")
load_to_postgres(customer_dim, "edw.customer_dim")
load_to_postgres(subscription_dim, "edw.subscription_dim")
load_to_postgres(plan_dim, "edw.plan_dim")
load_to_postgres(usage_fact, "edw.usage_fact")